@charset "UTF-8";
* {
    padding:0;
    margin:0;
    list-style: none;
    text-decoration:none;
}
.web {
    .carousel_box {
        width: 60%;
        // height: 337.5px;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        &::before {
            content: "";
            display: block;
            width: 100%;
            padding-top: 56.25%; //响应式布局
        }
        >ul {
            white-space: nowrap;
            font-size: 0;
            position: absolute;
            top:0;
            left:0;
            transition: all .5s;
            li {
                display: inline-block;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    img {
                        width: 100%;
                    }
                    .mask {
                        width: 100%;
                        height: 20%;
                        background-color:rgba(0,0,0,.3);
                        position: absolute;
                        bottom: 0;
                        left:0;
                    }
                }
            }
        }
        .arrow {
            height: 100%;
            width: 10%;
            // background-color: rgba(0,0,0,.5);
            position: absolute;
            top:0;
            font-size: 36px;
            color:#fff;
            transition: all .3s;
            i {
                position: absolute;
                left:50%;
                top: 50%;
                transform: translate(-50%,-50%);
                font-style:normal ;
                cursor: pointer;
                user-select: none;
            }
        }
        .left_arrow {
            left:-100%;
            background:linear-gradient(90deg,#000 ,transparent);
        }
        .right_arrow {
            right:-100%;
            background:linear-gradient(-90deg,#000 ,transparent);
        }
        &:hover {
            .left_arrow {
                left:0;
            }
            .right_arrow {
                right:0;
            }
            // .point_box {
            //     bottom: 8%;
            // }
        }
        .point_box {
            padding: 2px 4px;
            background-color: rgba(238,170,204,.8);
            border-radius: 7px;
            position: absolute;
            bottom:8%;
            left:50%;
            transform: translateX(-50%);
            // transition: all .3s;
            ul {
                font-size: 0;
                li {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    margin:0 2px;
                    border-radius: 50%;
                    cursor: pointer;
                    &.active {
                        background-color: #87ceeb;
                    }
                }
            }
        }
    }
}